@model Project113_G3.Models.RQ_Reported

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>RQ_Reported</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.RQrp_Id)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RQrp_Id)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RQrp_ToUserName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RQrp_ToUserName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RQrp_Toppic)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RQrp_Toppic)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RQrp_Date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RQrp_Date)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RQrp_Note)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RQrp_Note)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.RQrp_ByUsername }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mitr">
    <link rel="stylesheet" type="text/css" href="~/Content/css/Dashboard_css.css">

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>


    <title>Index</title>
</head>
<body>
    <input type="checkbox" id="check" />
    <label for="check">
        <i class="fa fa-bars" id="okbuttom">
            <ion-icon name="menu-outline"></ion-icon>
        </i>

        <i class="fa fa-time" id="cancelbuttom">
            <ion-icon name="close-outline"></ion-icon>
        </i>

    </label>

    <div class="navigation">
        <ul>
            <content>FPTP</content>
            <li>
                <a href="#">
                    <span class="UserAcc">ชื่อสมาชิก</span>
                </a>
            </li>
            <li>
                <a href="~/Dashboard/Index/">
                    <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                    <span class="title">Home</span>
                </a>
            </li>

            <li>
                <a href="~/DataGames/Index">
                    <span class="icon"><ion-icon name="game-controller-outline"></ion-icon></span>
                    <span class="title">System Information</span>
                </a>
            </li>

            <li>
                <a href="~/UserDatas/Index">
                    <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
                    <span class="title">Account</span>
                </a>
            </li>

            <li>
                <a href="~/RQ_Reported/Index">
                    <span class="icon"><ion-icon name="reader-outline"></ion-icon></span>
                    <span class="title">Reporting</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="icon"><ion-icon name="git-pull-request-outline"></ion-icon></span>
                    <span class="title">Request</span>
                </a>
            </li>

            <li>
                @Html.Partial("_LoginPartial")
            </li>
        </ul>
    </div>

    <!--ที่ปิดเมนู / ช่องค้นหา / โปรไฟล์ Admin-->
    <div class="main">
        <div class="topbar">
            <div class="Namepage">
                <h3>ชื่อหน้านั้น</h3>
            </div>

            <div class="search">
                <input type="text" placeholder="Search here!" />
                <ion-icon name="search-outline"></ion-icon>
            </div>

            <div class="accountPic">
                <img src="~/Content/images/SH2.jpg" />
            </div>
        </div>


        <!-- กรอบข้อมูลกราฟ-->
        <div class="details">

            <div class="graph">
                <div>
                    <h4>RQ_Reported</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.RQrp_Id)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.RQrp_Id)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.RQrp_ToUserName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.RQrp_ToUserName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.RQrp_Toppic)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.RQrp_Toppic)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.RQrp_Date)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.RQrp_Date)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.RQrp_Note)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.RQrp_Note)
                        </dd>

                    </dl>
                </div>
                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.RQrp_ByUsername }) |
                    @Html.ActionLink("Back to List", "Index")
                </p>

            </div>
        </div>

    </div>
</body>
</html>